body{
    background-color: rgb(199, 200, 224);
    margin: 0;
}

.header{
    background-color: blueviolet;
    width: 100%;
    margin:0
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    top:0;
    left:0;
    width: 100%;
    background-color: rgb(175, 64, 215);
}

li{
    display: inline;
}
    
li a {
    color: white;
    text-align: center;
    padding: 14px 40px;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

li a:hover{
    background-color: rgba(0,0,0,0.3);
}

.icono{
    text-align: left;
    color:rgb(199, 200, 224);
    padding-left: 10px;
    padding-right: 30px;
    letter-spacing: 3px;
    font-weight: bold;
}
.dropdown_btn{
    background-color: rgb(175, 64, 215);
    color: white;
    text-align: center;
    padding: 14px 40px;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    cursor: pointer;
}

.dropdown_btn:hover{
    background-color: rgba(0,0,0,0.3);
}


.dropdown{
    position: relative;
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
}

.dropdown_content{
    display: none;
    position: absolute;
    background-color: #c35ea6;
    min-width: 160px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}

.dropdown_content a{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown_content a:hover{
    background-color: rgba(0,0,0,0.3);
}

.dropdown:hover .dropdown_content{
    display: block;
}

p{
    text-align: justify;
}


.grid{
    display: grid;
    width: 100%;
    min-height: 1500px;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 600px 600px;
    grid-gap: 50px;
    justify-content: space-around;
    align-content: space-around;
}